.main {
    height: 600px;
    display: flex;
    float: right;
    margin-right: 100px;
    opacity: 0.9;
}

.cake-imgs {
    float: left;
    height: 251px;
    width: 251px;
}

.post-header-m {

    width: 800px;
    position: relative;
    background: #ffffff;
    padding: 25px;
    text-align: center;
    z-index: 2;
  }

.legend {
    box-sizing: border-box;
}
.box {
    
    width: 250px;
    height: 250px;

}

.selected {
    border-bottom: #9E814C solid 5px;
}


